:root {
  --main-color: rgb(83, 152, 204);
  --secondary-color: rgb(254, 74, 73);
  --third-color: rgb(202, 193, 238);
  --fourth-color:rgb(238, 248, 124);
  --fith-color:rgb(26,45,71);
  --menu-speed: 0.75s;
}
  body {
  margin: 0;
  background-color: var(--main-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
